<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL injection DEMO</title>
  </head>
  <body>
    <h1>SQL injection DEMO</h1>
    <form method="POST">
      <label>username</label>
      <input type="text" name="username" />
      <input type="text" name="password" />
      <button type="submit">Submit</button>
      <p><%= message %></p>
    </form>
  </body>
</html>
